@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

:root {
  --color-dark: hsl(252, 30%, 17%);
  --color-light: hsl(252, 30%, 95%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(31.5, 95.7%, 46.1%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-black: hsl(252, 30%, 10%);
  --color-white: hsl(252, 30%, 100%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}
